body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-image: url('/img/bg.jpg');
  background-size: cover;
}

.wrapper {
  width: 80vw;
  max-width: 960px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  background-color: rgba(255,255,255,0.7);
  flex-direction: column;
  text-align: center;
}

#welcome-logo {
  width: 15rem;
  margin: 5rem auto 2rem auto;
}

.welcome-title {
  margin-bottom: 3rem;
}

.welcome-title h1, h2 {
  font-family: 'IBM Plex Serif', serif;
  margin: 0.5rem auto;
}

.welcome-title h1 {
  font-size: 3.5rem;
}

.login-input {
  margin: 0.5rem auto;
}

.login-text input {
  padding: 1rem;
  border: 0;
  margin: 0.3rem;
  background-color: crimson;
  color: white;
}

.login-input button {
  cursor: pointer;
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  background-color: gainsboro;
  border: 0;
  border-left: 5px solid brown;
  transition: all 0.3s;
}

.login-input button:hover {
  background-color: white;
  border-left: 5px solid crimson;
}

/* MAIN PAGE */
.wrapper-main {
  width: 80vw;
  max-width: 960px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.7);
}

.navbar {
  background-color: #fff;
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.navbar-buttons {
  margin: 1.2rem 0;
  padding: 0;
  color: crimson;
}

.navbar-buttons span {
  padding: 1.2rem;
  transition: all 0.3s;
  margin: 0;
  font-size: 1rem;
}

.navbar-buttons span:hover {
  background-color: indianred;
  color: white;
  cursor: pointer;
}

.items-box {
  margin: 1rem;
  margin-bottom: 2.3rem;
}

.items-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.items-list li {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-left: 5px solid lightgrey;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.items-list li:hover  {
  border-left: 5px solid indianred;
  background-color: white;
  box-shadow: 2px 4px 3px #555;
}

.item-description {
  width: 30%;
}

.item-status {
  flex-grow: 2;
}

.item-actions {
  display: flex;
}

.item-description * {
  padding: 0;
  margin: 0;
}

.btn {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  cursor: pointer;
  border: 0;
  padding: 0.4rem;
  margin: 0.2rem;
  transition: 0.2s all;
}

.btn:hover {
  color: white;
}

.btn-accept {
  background-color: limegreen;
}

.btn-deny {
  background-color: crimson;
}

.btn-default {
  background-color: lightblue;
}
.btn-default:hover {
  background-color: blue;
}

@media (max-width: 600px) {
  .wrapper-main {
    width: 100%;
  }
}
